<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand"routerLink="/">{{ 'PUBLIC.title' | translate }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ 'PUBLIC.register' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/account/log-in">{{ 'PUBLIC.login' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/panel/dashboard">{{ 'PUBLIC.dashboard' | translate }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">One Page Wonder</h1>
        <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>
        <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header> -->
<div class="page">
    <div class="container">
            <router-outlet></router-outlet>
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">{{ 'PUBLIC.copyright' | translate }} &copy; {{ 'PUBLIC.title' | translate }} 2018</p>
    </div>
    <!-- /.container -->
</footer>